.form-group label{
	font-size: 14px;
	padding-bottom: 0;
	margin-bottom: 0;
	font-weight: normal; }

span.error{
	font-size: 12px;
  color: red; }

span.error ~ input.form-control{
	background: red;
}
.costum-action-link{
	color: red;
	max-width: 40px;
	text-align: center;
	border-radius: 3px !important;
	overflow: hidden;
	margin: 0 auto; 
}

///Helpers
//// Font size
.s-8{ font-size: 8px !important; }
.s-10{ font-size: 10px !important; }
.s-12{ font-size: 12px !important; }
.s-13{ font-size: 13px !important; }
.s-14{ font-size: 14px !important; }
.s-15{ font-size: 15px !important; }
.s-16{ font-size: 16px !important; }
.s-18{ font-size: 18px; }
.s-20{ font-size: 20px; }
.s-25{ font-size: 25px !important; }
.s-50{ font-size: 50px !important; }
.br-1{border-right: 1px solid #dfdfdf; }
///Font weight
.bold{ font-weight: bold !important; }
.active_menu_item, .c-white{ 
	color: #fff !important;
}

.c-light-gray{
	color: #c2c7d0;
}
.f-normal{ font-weight: normal !important; }
//Color
.c-withe{ color: #f9f9f9; }
.c-red{ color: #881822; }
.c-green{ color: #002400; }
.bg-light-gray{ background: #f4f4f4 !important;}
.bg-light-green{ background: #fff !important;}
.bg-light-red{ background: #ffeaea !important; }
//
//
li.has-treeview > a.nav-link:focus{
	background-color: transparent !important;
}

li.has-treeview > a.nav-link:hover{
	background-color: transparent !important;
	font-weight: 500 !important;
}
a.nav-link.costum-nav-link:hover{
	background-color: #182025 !important;	
}
a.nav-link.active{
	font-weight: bold !important;
	color: #fff;
	}
a.nav-link.active{color: blue !important;}

///Icons size
.h-8{ height: 8px !important; }
.h-10{ height: 10px !important; }
.h-12{ height: 12px !important; } .h-14{ height: 14px; } 
.h-15{ height: 15px; } .h-16{ height: 16px; } 
.h-18{ height: 18px; }
.h-20{ height: 20px; }
.h-25{ height: 25px !important; }
.h-30{ height: 30px; }
//Whidths
.m-w-7rm{ min-width: 7rem !important;}

.mt-2rem{ margin-top: 2rem;}
//Force paddings
.py-05{
	padding-top: .3rem !important;
	padding-bottom: .4rem !important;
}
//Border radius
.btn-rounded{ 
	border-radius: 50px !important;
	overflow: hidden;
}
.br-2{ border-radius: 2px !important; }
.br-0{ border-radius: 0px !important; }
.bl-gray{
	border-left: 1px solid #c7c7c7;
}
body{
	width: 100%;
	overflow: auto;
}

.erasable{
	position: relative;
}
.erasable > span{
	background: #ffc8c8;
	position: absolute;
	top: 7px;
	right: 9px;
	font-size: 8px;
	width: 15px;
	height: 15px;
	text-align: center;
	padding: 1px;
	box-sizing: border-box;
	border-radius: 50%;
	color: #6f6f6f;
	font-weight: bold;
	cursor: pointer;
}
.c-pointer{
	cursor: pointer;
}
//Width
.w-300{ max-width: 300px; }
.m-w-80{ max-width: 80px !important; }
.w-40{ width: 40px !important; }
h2.swal2-title{ margin-bottom: 0px; }
.w-80{ width: 80%; }
.production_unit_name, .presentation_name,
.supply_name, .supply_code { width: 100% !important; }
// .input.string{ width: 80%; }
//

// Backgrounds
.bg-danger{ background-color: #dc3545 !important; }
.bg-warning{ background-color: #ffc107 !important; }
.bg-success{ background-color: #28a745 !important; }
.bg-primary{ background-color: #007bff !important; }

.bg-blue{ background-color: #0051a8; }
.bg-dark-blue{ background-color: #293742 !important; }
.text-dark-blue{ color: #0051a8 !important; }
.border-blue{ border: 1px solid #293742; }

//Badges
.badge-blue-trasparent{
	background: #0051a82e;
  padding: 5px 10px;
  border-radius: 15px;
}

.badge-danger-trasparent{
	background-color: #ff000024 !important;
	padding: 5px 10px;
  border-radius: 15px;
}
.badge-primary-trasparent{
	background: #1f8ce32e;
  padding: 5px 10px;
  border-radius: 15px;
 }
.badge-success-trasparent{
  background: #28a7452e;
  padding: 5px 10px;
  border-radius: 15px;
}
.text-dark-red{ color: #2a0000; }
.text-dark-green{ color: #00430f; }
.row-redonded{ border-radius: 20px; }
.row-redonded.hover:hover{ background: #0051a80f; }
.hover-light-gray:hover{
	background-color: #f4f4f4;
}
//Colors
.c-blue{ color: #0051a8; }
.c-black{ color: #000; }
.btn-dark-blue{ 
	background-color: #0051a8 !important;
	color: #e8e8e8 !important; }
.bg-red{ background: red; }

.form-control.flat{	border-radius: 0px; }

label{
	font-weight: normal !important;
  font-size: 12px !important;
  color: #4e4e4e;
}
label.select{
	margin-bottom: 0px;
}
.c-gray{ color: #808080; }
.c-dark-gray{ color: #404040; }

.select.small > .ss-single-selected{
	height: 1.5rem !important;
}
.form-control-sm{
	height: calc(1.8125rem + 0px) !important;
	border-color: #ddd;
	font-size: 12px !important;
	color: #616161; 
}
.text-upcase{ text-transform: uppercase !important }
input[type="text"], select, select > option 	{ text-transform: uppercase !important;}
input[type="text"]::placeholder { /* Edge */
  text-transform: capitalize !important;
  font-size: 12px;
}

.card, .form-control{ border-radius: 2px !important; }
.btn{ border-radius: 2px !important;}

//Costum select

.ss-single-selected{
	border-radius: 2px !important;
	border-color: #ced4da !important;
}

.ss-search input{
background: red;
height: 25px !important;
font-size: 12px !important;}
.ss-option{
	padding: 4px 7px !important;
	font-size: 10px;
}
span.notificator{
	float: right;
  background: #0c131a;
  font-size: 10px;
  padding: 3px 5px;
  border-radius: 20px;
  font-weight: bold;
  color: #c2c7d0;
}
.costum-options label.radio_buttons{
	font-size: 12px !important;
  font-weight: bold !important;
  margin-right: 70px;
}
.bg-red{ background-color: red; }

.costum-options span.radio{
	padding: 0px 5px;
}

///****MENU COSTUM
.nav-treeview{
	background: #1f2930 !important;
}

//Costum tabs
.card-header a.active{
	border-top: 0px !important;
	border-right: 0px !important;
	border-left: 0px !important;
	border-bottom: 3px solid #293742 !important;
	color: #0051a8 !important;
}

li.line-divider > hr{
 background-color: #4d5e6c;
}
.profile_img{
	width: 100px;
  background-position: center;
  background-size: cover;
  height: 100px;
  margin: 0 auto;
  border-radius: 50% !important;
  border: 3px solid #cccccc;
}
.small_profile_img{
	width: 35px;
  background-position: center;
  background-size: cover;
  height: 35px;
  margin: 0 auto;
  border-radius: 50% !important;
  border: 1px solid #cccccc;
}
.navbar_profile_img{
	width: 30px;
  background-position: center;
  background-size: cover;
  height: 30px;
  margin: 0 auto;
  border-radius: 50% !important;
  border: 1px solid #cccccc;
}
.force-text-center{	text-align: center !important; }
.bb-gray{	border-bottom: 1px solid #ececec !important; }
.bb-light-gray{	border-bottom: 1px solid #f4f4f4 !important; }
.adjust-dropdown{	transform: translate(-141px, 23px) !important; }

.btn.dropdown-toggle:hover{
	background: #377bff24 !important;
  border-radius: 20px !important;
}
.report-prices{}
//** Costum styles from pdf **//
.letter_height_pdf{
  height: 21cm !important;
  background: blue !important;
}
.bg_red{
  background: red !important;
}
.sidebar-dark .nav-treeview > .nav-item > .nav-link{
	color: #9c9c9c !important;
}
.disabled-container{
	position: relative;
	overflow: hidden;
}
.disabled-container::before{
	content: "";
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.2);

}

.rounded-remove{
	border-radius: 0px 0px 0px 15px !important;
}

.selectize-input {
 padding: 5px 6px !important;
}
.canceled_row{
	background: #ffc2c2 !important;
  text-decoration: line-through;
}
.inavlid_row{
	background-color: #ffc2c2 !important;
}
.saled_row{

	background-color: #00560036 !important;
}
/////TEXT STYLES
.text-underline{
	text-decoration: underline; 
}
.text-d-none{
	text-decoration: none !important; 
}

// PERFORATIONS
.text-color {
  color: #000 !important;
  text-decoration: none !important;
}

.text-color::hover {
  text-decoration: none !important;
} 
.h-0{
	height: 0px !important;
	overflow: hidden;
}
.h-auto{
	height: auto;
}
.costum_radios span.radio > label{
	font-size: 12px !important;
	margin-right: 10px !important;
}

.edit-contract:hover > i.fa-edit{
	color: red !important;
}
.alert-info {
  color: #0c5460 !important;
  background-color: #d1ecf1 !important;
  border-color: #bee5eb !important;
}
select.error, input.error{
	border: 1px solid red;
}
label.error{
	color: red;
	font-weight: bold !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.alert-warning {
  background-color: #fcf8e3 !important;
  border-color: #faf2cc !important;
  color: #8a6d3b !important;
}
