.form-group label{
	font-size: 14px;
	padding-bottom: 0;
	margin-bottom: 0;
	font-weight: normal;
}

span.error{
	font-size: 12px;
  color: red;
}

span.error ~ input.form-control{
	background: red;
}


///Helpers
//// Font size
.s-14{ font-size: 14px; }

//Color
.c-red{ color: #881822; }
.bg-light-gray{ background: #f4f4f4;}
.bg-light-red{ background: #fff0f0;}
//
a.nav-link.active{
	font-weight: bold !important;
}