.text-left{	text-align: left !important; } .text-right{ text-align: right;}
.text-normal{
	font-weight: normal;
}
.underline{
	text-decoration: underline;
}

.s-12{ font-size: 12px;}
.s-13{ font-size: 13px;}
.s-14{ font-size: 14px;}
.s-16{ font-size: 16px;}

.pr-3{ padding-right: 3px; }
.pt-0{ padding-top: 0px;}
.pb-0{ padding-bottom: 0px;}
.mb-0{ margin-bottom: 0px;}
.mb-1{ margin-bottom: 2px; }
.mr-1{ margin-right: .5rem;}
.mr-2{ margin-right: 2rem;}
.mt-1{ margin-top: .5rem;}
.mt-2{ margin-top: 1rem;}
.my-1{ margin-top: .5rem; margin-bottom: .5rem;}
.my-0{ margin-top: 0px; margin-bottom: 0px; }
.mt-0{ margin-top: 0px; }
.mt-4{ margin-top: 4rem; }
.pt-4{ padding-top: 4rem; }
.pt-1{ padding-top: 1rem; }
.pt-10{ padding-top: 10rem; }

.h-15{ height: 15px; }
.h-5{ height: 5rem; }
.h-2{ height: 2rem; }
.h-7{ height: 7rem; }
.h-10{ height: 10rem; }
.h-12{ height: 12rem; }
table.pdf_table thead tr th{
	padding: 5px 0px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
table.pdf_table tbody tr td{
	padding: 5px 0px;
	border-bottom: 1px solid #ccc;
}
table.pdf_table tbody tr:nth-child(odd) { background: #f2f2f2;}
