<!DOCTYPE html>
<html>
	<head>
		<title>DOC-PDF</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<%= wicked_pdf_stylesheet_link_tag "shipments" %>
</head>
<body>
    <%= yield %>
</body>
</html>